terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
inventory/my-cluster
terraform/.terraform
TODO.md
terraform/variables.tfvars
terraform/.terraform.tfstate.lock.info
terraform/terraform-plugin-proxmox.log
