variable "username" {
  description = "The username for the DB master user"
  type        = string
  sensitive = false
  
}
variable "password" {
  description = "The password for the DB master user"
  type        = string
  sensitive = true
}